extends layout

block content
  include navbar.pug
  br
  div(style='text-align: center')
    h1= title
    br
    - var inputs = 6;
    - for (var i = 0; i < inputs; i++) {
      input.number
      br
    - }
    h4(id='output')
    div
      button(type='button' id='clear') Clear
