extends layout

block content
    h1= title
    - var inputs = 6;
    - for (var i = 0; i < inputs; i++) {
      input.number
      br
    - }
    h4(id='output')
    div
      button(type='button' id='clear') Clear
        a(href='/numbers')
          button(type='button') Numbers
