nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand(href='/') number-adder
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/numbers') Numbers
            span.sr-only (current)
