extends layout

block content
  include navbar.pug
  br
  h1 Numbers
  table.table
    thead
      tr
        th Number
        th Value
        th Description
        th Delete
    tbody
      each number, i in numbers
        tr(id='id-' + number._id)
          td= number.number
          td= number.value
          td= number.description
          td: button.delete.btn-xs.btn-danger(type='button') x
      tr
        td: input.add
        td: input.add
        td: input.add
        td
          button.btn-xs.btn-primary(type='button' id='add') Add
